@font-face {
  font-family: "Futile";
    src: url("./FutilePro.otf") format("opentype");
}
@font-face {
  font-family: "Hungry";
    src: url("./HungryPro.otf") format("opentype");
}
@font-face {
  font-family: "Medium";
    src: url("./m5x7.ttf") format("truetype");
}
@font-face {
  font-family: "Large";
    src: url("./m6x11.ttf") format("truetype");
}
* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: rgba(246, 243, 243, 1) rgba( 42, 38, 38, 1);
}
html {
  /* background-color: rgba(55, 50, 50, 1); */
  background-color: rgba( 42, 38, 38, 1);
  overflow-y: scroll;

}
section {
  /* background-color: red; */
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  /* align-content: center; */
  /* margin: auto; */
  overflow-x: hidden;
}
article {
  width: 90vw;
  height: 60vw;
  padding: 1em;
  margin: auto;
  border-radius: .5em;
  background-color: rgba( 42, 38, 38, 1);
  box-shadow: 0 0 0 50em rgba(4, 0, 0, .5),
              0 0 2em 0 rgba(4, 0, 0, .5);
  overflow-y: scroll;
}
header {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0 0 1em 0;
  margin: auto;
}
h1, h2 {
  color: rgba(251, 248, 248, 1);
  flex:100%;
  font-family: "Medium", sans-serif;
  text-align: center;
  margin: auto;
  text-shadow: 5px 5px .25em black;
}
h1 {
    font-size: 3em;
}
h2 {
  padding: .5em;
  font-size: 2em;
}
nav {
  flex: 100%;
  display: flex;
  flex-flow: row;
  margin: auto;
  padding: 1em;
  text-align: center;
  justify-content: center;
}
button {
  position: relative;
  display: flex;
  font-family: "Medium", sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 92, 73, 1);
  width: 2em;
  height: 2em;
  border:none;
  border-radius: 50%;
  color: rgba(247, 230, 230, 1);
  box-shadow: .25em .25em 2em 0 rgba(4, 0, 0, .5),
              .1em .1em 0 .05em rgba(255, 92, 73, 1),
              inset .75em 1em 1em -1em rgba(255, 128, 108, 1);
  cursor: pointer;
}
p {
  background-color: transparent;
  color: rgba(246, 243, 243, 1);
  font-family: 'Medium', serif;
  font-size: 1.5em;
  /* color: dimgray; */
  text-align: left justify;
}
#container {
  box-shadow: inset 0 0 2em rgba(4, 0, 0, .5);
}
#selectedpins {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  overflow-x: visible;
}
#about {
  position: fixed;
  right: 1em;
  bottom: 1em;
}
#aboutpage {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.label {
  color: rgba(251, 248, 248, 1);
  font-size: 1.25em;
  font-family: "Large", serif;
  padding: 1em 3em 0 3em;
}
.active {
  background: red;
}
.notactive {
  background: transparent;
}
.pin {
  width: 250px;
  margin: 2em;
  border-radius: .5em;
  box-shadow: 0 0 2em 0 rgba(4, 0, 0, .5);
}
.name {
  margin-top: -1em;
}
.close {
  top: -1em;
  left: -1em;

}
.info {
  height: 150px;
  padding: 1em;
  box-shadow: inset 0 1em 2em -2em /*rgba(55, 50, 50, 1)*/ rgba(4, 0, 0, 1);
}
.aboutbutton {
  width: 1em;
  height: 1em;
  font-size: 2em;
}
.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hidden {
  display: none;
}
@media (max-width: 500px) {
  nav {
    flex-flow: column;
  }
}
